In [1]:
##### 리스트 #####

In [2]:
## 리스트 방문
temps = [28, 31, 33, 35, 27, 26, 25]
for i in range(len(temps)):
    print(temps[i], end=',')

28,31,33,35,27,26,25,

In [4]:
for element in temps:
    print(element, end=',')

28,31,33,35,27,26,25,

In [5]:
# zip() 함수

questions =['name','quest','color']
answers =['Kim','파이썬','blue']

for q, a in zip(questions, answers):
    print(f"What is your {q}? It is {a}")

What is your name? It is Kim
What is your quest? It is 파이썬
What is your color? It is blue

In [11]:
# append()

heroes = [ ] # 공백 리스트를 생성
heroes.append("아이언맨") # 리스트에 ”아이언맨“을 추가 
heroes.append("토르") # 리스트에 ”토르“를 추가
print(heroes)

['아이언맨', '토르']

In [12]:
# insert()
heroes.insert(1, "스파이더맨")
print(heroes)

['아이언맨', '스파이더맨', '토르']

In [14]:
## 리스트 탐색하기
# index를 사용하면 가장 빠른 값의 위치를 찾아준다.

heroes = ['아이언맨', '토르', '헐크', '스칼렛 위치', '헐크']
n = heroes.index('헐크')
n

2

In [19]:
## 요소 삭제하기

heroes = ['아이언맨', '토르', '헐크']
heroes.pop(1)

'토르'

In [20]:
# remove()

heroes = ['아이언맨', '토르', '헐크']
heroes.remove('토르')

In [23]:
heroes = ['아이언맨', '토르', '헐크']

if '토르' in heroes:
    heroes.remove('토르')
    
heroes

['아이언맨', '헐크']

In [24]:
## 리스트 항목의 최대값과 최소값

values = [ 1, 2, 3, 4, 5, 6, 7, 8, 9, 10 ]
min(values)
max(values)

10

In [28]:
## 리스트 정렬

a = [ 3, 2, 1, 5, 4 ]
a.sort()
a

[1, 2, 3, 4, 5]

In [29]:
heroes =['아이언맨','헐크','토르']
heroes.sort()
heroes

['아이언맨', '토르', '헐크']

In [30]:
# 역순 정렬
a =[3,2,1,5,4 ]
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

In [31]:
numbers =[10,3,7,1,9,4,2,8,5,6]
ascending_numbers =sorted(numbers)
print( ascending_numbers )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# 문제)  ****************

myList = [30, 10, 20]
print("현재 리스트: %s" %myList)

myList.append(40)
print("append(40후의 리스트): %s" %myList)

def append_list(myList):
    print("현재 리스트: %s" %myList)
    apd_list = myList.append(40)
    print("append(40후의 리스트): %s" %apd_list)
    pop_list = myList.pop(40)
    print("pop()으로 추출한 값 :", pop_list)
    print("pop() 후의 리스트 :", myList)
    sort_list = myList.sort()
    print("sort() 후의 리스트 :", sort_list)
    rev_list = my_List.reverse()
    print("reverse() 후의 리스트 :", rev_list)
    print("20값의 위치 :", rev_list.index(20))
    
    # 너무 길다 answer 보자 .. 이정돈 알아야 한대

In [36]:
## lab. 성적 처리 프로그램

students = 5
lst = []
count = 0

for i in range(students):
    grade = int(input("성적을 입력하시오 :"))
    lst.append(grade)
    
g_mean = sum(lst)/len(lst)
g_max = max(lst)
g_min = min(lst)
    
lst2 = []
for score in lst:
    if score >= 80:
        count += 1

print("성적평균 = %d \n최대점수 = %d \n최소점수 = %d \n80점 이상 = %d" %(g_mean, g_max, g_min, count))

성적을 입력하시오 :10
성적을 입력하시오 :20
성적을 입력하시오 :60
성적을 입력하시오 :70
성적을 입력하시오 :80
성적평균 = 48
최대점수 = 80
최소점수 = 10
80점 이상 = 1

In [ ]:
## lab. 리스트에서 2번째로 큰 수 찾기

In [46]:
## lab. 콘테스트 평가

scores = [10.0, 9.0, 8.3, 7.1, 3.0, 9.0]

scores.remove(max(scores))
scores.remove(min(scores))
scores

[9.0, 8.3, 7.1, 9.0]

In [60]:
## lab. 리스트로 스택 흉내내기

stack = []

for i in range(3):
    f = input("과일을 입력하시오: ")
    stack.append(f)
        
for i in range(3):
    print(stack.pop())

과일을 입력하시오: apple
과일을 입력하시오: orange
과일을 입력하시오: grape
grape
orange
apple

In [61]:
## 리스트 합병과 복제

heroes1 = [ "아이언맨", "토르" ]
heroes2 = [ "헐크", "스칼렛 위치" ]
avengers = heroes1 + heroes2

In [64]:
# 문제

string = ['happy', 'love', 'dog', 'cat']
num=[1, 2, 6, 3, 9, 5]
empty=[]
mix=[4, 0, 'hi', 1, 'sun', 'x']

total = len(string) + len(num) + len(empty) + len(mix)
print(total)

16

In [65]:
## 리스트 비교

list1 = [ 3, 4, 5 ]
list2 = [ 1, 2, 3 ]
print(list1 > list2)

True

In [68]:
## 리스트 복사

temps = [28, 31, 33, 35, 27, 26, 25] 
values = temps  # 얕은 복사 (한 가지를 바꾸면 다른 리스트도 바뀜)

print(temps)
values[3] = 39 # values 리스트 변경
print(temps)
print(values)

[28, 31, 33, 35, 27, 26, 25]
[28, 31, 33, 39, 27, 26, 25]
[28, 31, 33, 39, 27, 26, 25]

In [69]:
temps = [28, 31, 33, 35, 27, 26, 25] 
values = list(temps)  # 깊은 복사 (한 리스트를 바꿔도 다른 리스트는 안 바뀜)

print(temps)
values[3] = 39 # values 리스트 변경
print(temps)
print(values)

[28, 31, 33, 35, 27, 26, 25]
[28, 31, 33, 35, 27, 26, 25]
[28, 31, 33, 39, 27, 26, 25]

In [70]:
## 슬라이싱

numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]
sublist = numbers[2:7]
sublist

[30, 40, 50, 60, 70]

In [71]:
## 시작과 끝 인덱스는 생략가능

numbers[:3]
numbers[3:]
numbers[:]

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [72]:
new_numbers = numbers[:]  # 깊은 복사가 됨

In [73]:
## 고급 슬라이싱

numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]
sublist = numbers[2:7:2]  # 2번씩 건너뛰어서 슬라이싱 가능
sublist

[30, 50, 70]

In [75]:
## 리스트를 역순으로 만드는 법

numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90]
numbers[::-1]

[90, 80, 70, 60, 50, 40, 30, 20, 10]

In [76]:
## 리스트 변경

lst = [1, 2, 3, 4, 5, 6, 7, 8]
lst[0:3] = ['white', 'blue', 'red']
lst

['white', 'blue', 'red', 4, 5, 6, 7, 8]

In [77]:
lst = [1, 2, 3, 4, 5, 6, 7, 8]
lst[::2] = [99, 99, 99, 99]
lst

[99, 2, 99, 4, 99, 6, 99, 8]

In [78]:
lst = [1, 2, 3, 4, 5, 6, 7, 8]
lst[:] = []
lst

[]

In [79]:
numbers = list(range(0, 10)) # 0에서 시작하여 9까지를 저장하는 리스트
print(numbers)

del numbers[-1] # 마지막 항목을 삭제한다. 
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [80]:
## 문자열과 리스트

s = "Monty Python"
print(s[0])
print(s[6:10])
print(s[-12:-7])

M
Pyth
Monty

In [82]:
## 리스트 함축

squares = []

for x in range(10):
    squares.append(x*x)
    
print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [84]:
squares = [x*x for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [85]:
squares = [x*x for x in range(10) if x%2 == 0]
squares

[0, 4, 16, 36, 64]

In [86]:
## 다양한 리스트 함축

prices = [135, -545, 922, 356, -992, 217]
mprices = [i if i > 0 else 0 for i in prices]
mprices

[135, 0, 922, 356, 0, 217]

In [87]:
words = ["All", "good", "things", "must", "come", "to", "an", "end."]
letters = [ w[0] for w in words ]
letters

['A', 'g', 't', 'm', 'c', 't', 'a', 'e']

In [88]:
numbers = [x+y for x in ['a','b','c'] for y in ['x','y','z']]
numbers

['ax', 'ay', 'az', 'bx', 'by', 'bz', 'cx', 'cy', 'cz']

In [ ]:
## 2차원 리스트
# 47 page